html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.hero-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(images/Rectangle.png);
}
.dealImage {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburgerMenu {
  width: 70%;
  min-width: 150px;
}
.header {
  width: 100%;
  padding: 20px;
}
.navigationBar {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  margin: 0 auto;
  font-family: 'Bebas Neue', cursive;
}

.headerOffer {
  height: 100%;
}
.logo {
  flex: 1;
}
.links {
  flex: 2;
  align-items: flex-end;
  font-size: 19px;
}
.list {
  margin: 0;
  letter-spacing: 3.5px;
  font-size: 20px;
  font-weight: 400;
}
.list ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.list ul li {
  padding: 2px 20px;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: row;
  letter-spacing: 2px;
  padding: 0 20px;
  font-size: 17px;
}
.scooter {
  padding: 0px 10px;
}
.headerWrapper {
  align-items: center;
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
}
.burgerWeek {
  display: flex;
  /* background-color: rgb(236, 194, 140); */
  height: auto;
  width: 40%;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.burgerWeek ul {
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  width: 100%;
}
.burgerWeek ul li {
  margin: 0;
  line-height: 1.05;
}
.borderDots {
  padding: 10px 0;
  font-size: 3.5vh;
  border: 2px dashed black;
  text-align: center;
}
.burger {
  font-size: 22vh;
  text-shadow: 4px 5px 0 #fee8bc;
}
.week {
  font-size: 19vh;
  text-shadow: 4px 5px 0 #fee8bc;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 40px 10px;
  margin: 0 auto;
}
.padding1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  border-radius: 7px;
  width: 170vh;
  margin: 0 auto;
  font-family: 'Bebas Neue', cursive;
}
.todaysOffer {
  position: relative;
}
.text-overlay1 {
  padding: 0 15px;
  margin: 0;
  line-height: 1;
  color: white;
  position: absolute;
}
.chooseEnjoy {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0px 0px 0px 20px;
}
.morefun-moretaste {
  position: relative;
}
.text-overlay2 {
  position: absolute;
  color: white;
  padding: 15px 20px;
  line-height: 0.5;
  font-weight: 100;
}
.freshchili {
  position: relative;
}
.text-overlay3 {
  position: absolute;
  color: white;
  padding: 15px 20px;
  line-height: 0.5;
  font-weight: 100;
}
.alwaystastyburger {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vh;
  width: 25vh;
  height: 100%;
  padding: 5px 10px;
  background-color: #ffc045;
  margin: 30px 0;
  font-weight: 400;
  color: #3d2514;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.C-and-E {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}
#CandEText {
  font-size: 10vh;
  margin: 0;
}
.C-and-E p {
  font-size: 20px;
}
.threeBurgers {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  padding: 30px 20px;
  flex-direction: row;
  justify-content: space-between;
}
.firstBurger,
.secondBurger,
.thirdBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.firstBurger h3,
.secondBurger h3,
.thirdBurger h3 {
  font-size: 4vh;
}
.firstBurger p,
.secondBurger p,
.thirdBurger p {
  width: 75%;
  font-size: 16px;
  text-align: center;
}

/* .lorem {
src: s
s
s
s
s
s
s;	
} */
@media only screen and (min-width: 805px) {
  .burgerMenu {
    display: none;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 804px) {
  .list {
    display: none;
  }
  .logo {
    width: 10%;
  }
  .contact {
    display: none;
  }
  .hamburgerMenu {
    margin: 0 auto;
    width: 90%;
    border-bottom: 1px solid red;
  }
  .dealImage {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .burgerWeek {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .navigationBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .burgerMenu {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: flex-end;
  }
  .burgerMenu ul {
    margin: 0;
    list-style: none;
  }
  .burgerMenu ul li {
    margin: 4px;
    background-color: black;
    height: 5px;
    width: 40px;
    padding: 2px;
  }
  .headerWrapper {
    flex-wrap: wrap;
  }
  .burger {
    font-size: 15vh;
  }
  .week {
    font-size: 15vh;
  }
  #padding1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-radius: 7px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
  }
  .chooseEnjoy {
    align-items: center;
    margin: 0 auto;
  }
  .alwaystastyburger {
    font-size: 2vh;
  }
  .C-and-E {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    text-shadow: 4px 5px 0 #fee8bc;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
  #CandEText {
    font-size: 6.5vh;
    margin: 0;
  }
  .C-and-E p {
    font-size: 15px;
  }

  .firstBurger h3,
  .secondBurger h3,
  .thirdBurger h3 {
    font-size: 2vh;
  }
  .firstBurger p,
  .secondBurger p,
  .thirdBurger p {
    width: 90%;
    font-size: 15px;
    text-align: center;
  }
  .firstBurger,
  .thirdBurger {
    color: #3d2514;
  }
  .thirdBurger {
    text-align: right;
  }
}
